<div class="hobby-container">
  <h1>{{ 'HOBBIES_TITLE' | translate }}</h1>

  <div class="cards-container">
    <div class="card" (click)="onCardClick('traveling')">
      <img src="assets/images/logos/travel.png" alt="Traveling">
      <span>{{ 'TRAVELING' | translate }}</span>
    </div>
    <div class="card" (click)="onCardClick('photography')">
      <img src="assets/images/logos/photography.png" alt="Photography">
      <span>{{ 'PHOTOGRAPHY' | translate }}</span>
    </div>
    <div class="card" (click)="onCardClick('cooking')">
      <img src="assets/images/logos/cooking.png" alt="Cooking">
      <span>{{ 'COOKING' | translate }}</span>
    </div>
    <!-- Add more cards as needed -->
  </div>

  <!-- Content Section -->
  <div *ngIf="selectedHobby === 'traveling'">
    <h2>{{ 'TRAVELING_TITLE' | translate: { count: visitedCountries.length } }}</h2>
    <div id="map" class="map"></div>
  </div>

  <div *ngIf="selectedHobby === 'photography'">
    <h2>{{ 'PHOTOGRAPHY_TITLE' | translate }}</h2>
    <!-- Display the photos in a grid -->
    <div class="photo-gallery">
      <div class="photo" *ngFor="let photo of photographyPhotos">
        <img [src]="photo" alt="Photography Photo">
      </div>
    </div>
  </div>
  <div *ngIf="selectedHobby === 'cooking'">
    <h2>{{ 'COOKING_TITLE' | translate }}</h2>
    <div class="dishes-gallery">
      <div class="dish" *ngFor="let dish of favoriteDishes">
        <img [src]="dish.image" [alt]="dish.name">
        <h3>{{ dish.name }}</h3>
        <p>{{ dish.description | translate }}</p>
      </div>
    </div>
  </div>
</div>

