
body {
  --light-color: rgba(255, 204, 128, 0.6); /* Default light color for day mode */
  --light-shadow: rgba(255, 204, 128, 0.8); /* Default light shadow for day mode */
  --footer-text-color: inherit;
  --footer-link-color: inherit;
  --footer-link-hover-color: #0077b5;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s, color 0.5s, background-image 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  body.light-mode {
    background-color: #ffffff;
    color: #000000;
    background-image: url('assets/images/white-mode.jpg'); /* Path to your light mode background image */
    --footer-text-color: #000000;
  --footer-link-color: #000000;
  --footer-link-hover-color: #0077b5;
  }
  
  body.dark-mode {
    --light-color: rgba(211, 211, 211, 0.6); /* Light color for night mode */
  --light-shadow: rgba(211, 211, 211, 0.8); /* Light shadow for night mode */
    background-color: #121212;
    color: #ffffff;
    background-image: url('assets/images/dark-mode.jpg'); /* Path to your dark mode background image */
    --footer-text-color: #ffffff;
  --footer-link-color: #ffffff;
  --footer-link-hover-color: #0077b5;
  }

  .toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    margin: 0;
  }

  /* Change background color for success toasts */
.toast-success {
  background-color: #28a745 !important; /* Green background */
}

/* Change background color for error toasts */
.toast-error {
  background-color: #dc3545 !important; /* Red background */
}

/* Change background color for info toasts */
.toast-info {
  background-color: #17a2b8 !important; /* Blue background */
}

/* Change background color for warning toasts */
.toast-warning {
  background-color: #ffc107 !important; /* Yellow background */
}

/* Optional: Change text color if needed */
.toast-success, .toast-error, .toast-info, .toast-warning {
  color: #ffffff !important; /* White text color */
}

  