.home-container {
  display: flex;
  flex-direction: row; /* Default direction is row for larger screens */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  padding: 1rem;
  background-color: inherit; /* Inherit background color from the body */
}

.home-left, .home-right {
  flex: 1;
  padding: 1rem;
}

.home-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.lights {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.light {
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--light-color);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--light-shadow);
  animation: moveLight 5s linear infinite;
}

.light1 {
  top: 10%;
  left: 70%;
  animation-duration: 6s;
}

.light2 {
  top: 30%;
  left: 10%;
  animation-duration: 8s;
}

.light3 {
  top: 70%;
  left: 70%;
  animation-duration: 7s;
}

@keyframes moveLight {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.home-right {
  text-align: left;
  color: inherit;
}

.home-right h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: inherit;
}

.home-right h1 .highlight-name {
  color: #ff6347;
}

.home-right p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: inherit;
}

.social-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.social-links a {
  color: inherit;
  font-size: 2rem;
  transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
  color: #0077b5;
  transform: scale(1.2);
}

.btn-download-cv {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #ff6347;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-download-cv:hover {
  background-color: #239b56;
  transform: scale(0.9);
  color: #ffffff;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack elements vertically */
    height: auto; /* Allow the container to adjust its height */
    padding: 1rem; /* Reduce padding */
  }

  .home-left, .home-right {
    width: 100%; /* Full width */
    padding: 0.5rem; /* Reduce padding */
    text-align: center; /* Center align text */
  }

  .home-right h1 {
    font-size: 2rem; /* Decrease font size */
    margin-bottom: 0.5rem;
  }

  .home-right p {
    font-size: 1rem; /* Decrease font size */
  }

  .social-links {
    justify-content: center; /* Center the social links */
    gap: 1rem; /* Reduce gap between icons */
  }

  .social-links a {
    font-size: 1.5rem; /* Reduce icon size */
  }

  .btn-download-cv {
    padding: 0.8rem 1.5rem; /* Reduce padding */
    font-size: 1rem; /* Decrease font size */
  }
}

/* Media Query for extra small screens */
@media (max-width: 480px) {
  .home-right h1 {
    font-size: 1.8rem; /* Further decrease font size */
  }

  .home-right p {
    font-size: 0.9rem; /* Further decrease font size */
  }

  .social-links a {
    font-size: 1.2rem; /* Further reduce icon size */
  }

  .btn-download-cv {
    padding: 0.6rem 1rem; /* Further reduce padding */
    font-size: 0.9rem; /* Further decrease font size */
  }
}
